<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
        <%= link_to 'Members Only', root_path, class: "pagename current"%>
        <%= link_to "Create Post", new_post_path %>
        
        <% if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, method: "delete" %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path %>
        <% end %>
			</div>
		</nav>

    <% if flash[:notice] %>
      <div class="msg great"><%= notice %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="msg warning"><%= alert %></div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
